div {
  background-color: lightblue;
  display: block;

}

p {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 150px;
  right: 650px;



}

body {
  margin: 0;
  display: block;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {

  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50px;
  right: 600px;
}

.first-container {
  background-color: lightblue;
  width: auto;
  height: 1000px;
  text-align: center;

  display: block;
}

.middle-container {
  background-color: red;
  width: 100px;
  height: 100px;

}

.bottom-container {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.cloud1 {
  display: inline-block;
  position: absolute;
  right: 250px;
  top: 150px;

}

.cloud2 {
  display: inline-block;

  position: absolute;
  right: 900px;
  top: 300px;
}

.mountain {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 250px;
    right: 250px;

}
